.b{
    background-color: gainsboro;
    position: absolute;
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    user-select: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    opacity: 0.5;
}
.bl{
    left: 0%;
}
.br{
    right: 0%;
}
.b:hover{
    background-color: #f2f2f2;
    font-size: 6rem;
}